  <div class="article">
    <div class="article__title">
      <%= "タイトル: #{article.title}" %>
    </div>
    <div class="article__solution">
      <%= "解決方法:#{article.solution}" %>
    </div>
    <div class="article__box">
      <%= link_to "詳細はクリック！", articles_post_path(article.id) %>
      <div class="hidden_detail">
        <div class="article__factor">
          <%= "要因:#{article.factor}" %>
        </div> 
        <div class="article__knowledge">
          <%= "学んだこと:#{article.knowledge}" %>
        </div> 
      </div>
    </div>
  </div>
