<header>
  <div class="header">
    <%= link_to "TECH::FAQ" , root_path %>
    <div class="right_box">
      <ul class="list">
        <li class="list__box">
          <%= link_to "MYPAGE", "#" %>      
        </li>
        <li class="list__box">
          <%= link_to "新規会員登録", "#" %>     
        </li>
        <li class="list__box">
          <%= link_to "投稿", "#" %>     
        </li>
        <li class="list__box">
          <%= link_to "編集", "#" %>    
        </li>
        <li class="list__box">
          <%= link_to "削除", "#" %>      
        </li>
        <li class="list__box">
          <%= link_to "ログイン", "#" %>     
        </li>      
        <li class="list__box">
          <%= link_to "ログアウト", "#" %>  
        </li>  
      </ul> 
    </div>
  </div>
</header>